body{
    margin:0px;
    padding:0px;
    background-color: #FAF7F0;
    font-family:Roboto ;
}

header{
    display:flex;
    width: 100%;
    background-image: url("Images/headerStandIn.jpg");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

footer{
    display: flex;
    margin-top: 20px;
    min-height: 70px;
    background-image:url("/Images/panel.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
    color:whitesmoke;
}
footer p{
    color:whitesmoke;
}

#socials a{
    color:whitesmoke;
    display:  inline-block;
    margin-right: 20px;
}
#socials p{
    display:  inline-block;
}


a{
    color: 4A4947;
    text-decoration: none;
}

a:hover{
    cursor:pointer;
}

i:hover{
    cursor:pointer;
}

#about-me{
    display: inline-block;
    padding-bottom:35px;
    margin-bottom: 20px;
    margin-top:20px;
}
.img-container{
    margin-top:0px;
    width:100%;
    display:inline-block;
}

.img-container p {
    margin-top:0px;
    color: #4A4947;
    
}

.img-container img{
    float:left;
    height:200px;
    margin-right: 10px;
    margin-left: 10px;
}
h1,h2,h3,h4,h5,h6{
    margin-top:0px;
    text-align:center;
    color:#DA8359;
}
p{
    color: #4A4947;
}

