@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.nav-bar{
    font-family: Roboto;
    display: block;
    background-color: #b17457;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
}


.nav-bar ul{
    list-style-type: none;
    float:right;
    font-size: small;
}


.nav-bar ul li:last-child{
    padding-right: 15px;
}
.nav-bar ul li{
   display: inline;
    padding-left: 20px;
    
}

.nav-bar ul li:hover{
    cursor: pointer;
    color: #FADFA1;
}
.nav-bar ul .active{
    color:orange;
}

.nav-bar ul .active:hover{
    color:orange;
    cursor: default;
}

.nav-logo{
    float:left;
    overflow: hidden;
    color: #d8d2c2;
    display:block;
}


.nav-logo a i {
    display:inline;
    padding-left: 20px;

}
.nav-logo a i:hover {
    display:inline;
    padding-left: 20px;
    color:#C96868;

}
.nav-logo p{
    display:inline;
    color: #d8d2c2;
    padding-left: 20px;
}