table{
    
    width: 100%;
    min-height: 300px;
    border-spacing: 30px;
    margin:auto;
    background-color: #DA8359;
    opacity: 0.8;
    color:#ECDFCC;
    
}
thead{

}
tbody{

}
tr{
    width: 100%;
    margin:auto;
    text-align: center;
}

td{
    text-align: center;
    color:#ECDFCC;
}